name: Deployment To Staging

on:
  push:
    branches:
      - main

env:
  IMAGE_NAME: ${{ vars.DOCKER_USERNAME }}/backend-session16      

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Install dependencies
              run: npm install 
            
            - name: Run tests
              run: npm test
    build-and-push:
        needs: test
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: build docker image
              run:  docker build -t ${{ env.IMAGE_NAME }} . 

            - name: tag image by version
              run: docker tag ${{ env.IMAGE_NAME }} ${{ env.IMAGE_NAME }}:v${{ github.run_number}} 

            
            - name: Log in to Docker Hub
              uses: docker/login-action@v3
              with: 
                username: ${{ vars.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKERHUB_TOKEN }}
            - name: Push to Docker Hub
              run: docker push ${{ env.IMAGE_NAME }}:v${{ github.run_number}}    
            - name: Push to Docker Hub
              run: docker push ${{ env.IMAGE_NAME }} 
    Deploy:
            runs-on: ubuntu-latest
            needs: build-and-push
            steps:
                - uses: appleboy/ssh-action@v1
                  with:
                    host: ${{ secrets.VPS_HOST }}
                    username: ${{ secrets.VPS_USERNAME }}
                    password: ${{ secrets.VPS_PASSWORD }}
                    script: |
                        cd /home/user/devops-script/backend
                        sudo docker compose pull backend-api
                        sudo docker compose up -d backend-api --force-recreate            
            