name: Deployment To Staging

on:
  push:
    branches:
      - main

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Install dependencies
              run: npm install 
            
            - name: Run tests
              run: npm test
    build-and-push:
        needs: test
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: build docker image
              run:  docker build -t amineayedi/backend-session16:latest . 
            
            - name: Log in to Docker Hub
              uses: docker/login-action@v3
              with:
                username: ${{ vars.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKERHUB_TOKEN }}
            - name: Push to Docker Hub
              run: docker push amineayedi/backend-session16:latest    