name: Deployment To Staging

on:
  push:
    branches:
      - main

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Install dependencies
              run: npm install 
            
            - name: Run tests
              run: npm test
    build-and-push:
        needs: test
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: build docker image
              run:  docker build -t amineayedi/backend-session16:latest . 
            
            - name: list images   
              run: docker images